@import "tailwindcss";

:root {
  --background: #F8FAFC; /* Slate 50 */
  --foreground: #0F172A; /* Slate 900 */
  
  /* Custom Colors Variables */
  --primary: #0F766E;
  --primary-light: #14B8A6;
  --primary-dark: #0D9488;
  --secondary: #3B82F6;
  --secondary-light: #60A5FA;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* Slate 950 */
    --foreground: #F8FAFC; /* Slate 50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
